body{
    background-color: #FAF0D7 ;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: white;
    border-width: 8px;
    width: 5%;

}
h1{
    color: #F4BFBF;
}
h3{
    color: #F4BFBF;
}